# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CMake on a single platform

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

permissions:
  contents: write

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      # Build your program with the given configuration
      run: ./builder.sh t31_lite_lincingtec1

    - name: Ls
      # Build your program with the given configuration
      run: ls ${{github.workspace}}/openipc/output/images/

    - name: Upload
      uses: softprops/action-gh-release@v2
      with:
        tag_name: xxx
        make_latest: false
        files: |
            ${{github.workspace}}/openipc/output/images/*
 # release:
 #   steps:
 #   - run: |
 #       gh release create v1.2.3 release.tar.xz
 #     env:
 #       GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 #     shell: bash
 #     name: Creates a release in GitHub and uploads attachments
